# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your-elt-raw-bucket

# Snowflake
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=ELT_WH
SNOWFLAKE_DATABASE=ELT_WAREHOUSE
SNOWFLAKE_ROLE=ELT_ROLE

# dbt Cloud
DBT_CLOUD_ACCOUNT_ID=your_account_id
DBT_CLOUD_JOB_ID=your_job_id
DBT_CLOUD_API_TOKEN=your_api_token

# Airflow
AIRFLOW__CORE__FERNET_KEY=your_fernet_key
AIRFLOW__CORE__LOAD_EXAMPLES=False